<sca-menubar header="menu.header" menu="menu.top" active="'user'" profile="menu._profile" user="menu.user"></sca-menubar>
<div class="header">
    <h2>Settings</h2>
</div>
<sca-menutab menu="settings_menu" active="'profile'" user="menu.user"></sca-menutab>
<div class="container-fluid">
    <ul class="list-group settings">
        <li class="list-group-item heading">
            <h4 class="list-group-item-heading">Public Profile</h4>
        </li>
        <li class="list-group-item">
            <!--<p class="text-muted">Only accessible to other logged in users</p>-->
            <form ng-submit="submit_profile();">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" ng-model="form_profile.fullname" name="fullname" 
                        placeholder="Your full name" required/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <p class="text-muted">An email address to show to other users (it can be different from the email address used to login to your application)</p>
                    <input type="text" class="form-control" ng-model="form_profile.email" name="email" 
                        placeholder="Your email" required/>
                </div>
                <div class="form-group">
                    <label>Biograph</label>
                    <textarea rows="6" class="form-control" ng-model="form_profile.bio" name="bio" 
                        placeholder="Please enter a brief introduction about yourself"></textarea>
                </div>
                <input type="submit" class="btn" value="Update"/>
            </form><!--profile form-->
        </li>
        <li class="list-group-item heading">
            <h4 class="list-group-item-heading">Avatar</h4>
        </li>
        <li class="list-group-item">
            <img gravatar-src="form_profile.email" gravatar-size="90" align="left" style="padding-right: 20px;"/>
            <br>
            <p> Your avatar is handled by <a target="_blank" href="http://gravatar.com">gravatar.com</a> using your profile email address.</p>
            <span class="text-muted">{{form_profile.email}}</span>
            <br>
            <br>
            <br>
        </li>
    </ul>
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>

